.card-countrie {
  display: flex;
  justify-content: space-around;
}
.card-image {
  width: 600px;
}
.title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.card-text {
  font-size: 30px;
  font-weight: 500;
}
.card-text_data {
  font-size: 30px;
  font-weight: 400;
}
