<h3>{{}}</h3>
<div>
    <p>Capital: <span>{{}}</span></p>
    <p>Population: <span>{{}}</span></p>
    <p>Languages:</p>
    <ul>
        {{#each }}
        {{/each}}
    </ul>

</div>
<div>
    <img src="" alt="" class=""/>
</div>